<h2>Expierence </h2>
<% experiences.each do |experience| %>
<div>
  Start Date: <input type="text" name="start_date" value=" <%= @experience.start_date %>">
</div>
<div>
  End Date: <input type="text" name="end_date" value=" <%= @experience.end_date %>">
</div>
<div>
  Job Title: <input type="text" name="job_title" value=" <%= @experience.job_title %>">
</div>
<div>
  Company Name: <input type="text" name="company_name" value=" <%= @experience.company_name %>">
</div>
<div>
  Details: <input type="text" name="details" value=" <%= @experience.details %>">
</div>
<input type="submit" name="Update Expierence">
<% end %>
<% end  %> 